/* Variables */
:root {
    --color-fondo: #f6f8fa;
    --color-superficie: #ffffff;
    --color-texto: #24292f;
    --color-texto-secundario: #57606a;
    --color-borde: #d1d7de;
    --color-primario: #0969da;

    --sombra: 0 8px 20px rgba(27, 31, 35, 0.12);
    --radio:12px;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: var(--color-superficie);
    box-shadow: var(--sombra);
}
header h1{
    font-size: 1.8rem;
}
header button{
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    background: none;
}
main{
    flex: 1;
    width:min(1100px,90%);
    margin: 40px auto;
}
/* buscardor */
.search-section{
    text-align: center;
    margin-bottom: 40px;
}
.search-section h2{
    margin-bottom: 10px;
}
.search-section p{
    color: var(--color-texto-secundario);
    margin-bottom:25px;
}
.search-box input{
    width:100%;
    max-width:500px;
    padding:15px;
    font-size:1rem;
    border: 1px solid var(--color-borde);
    border-radius: var(--radio);
    outline: none;
}
.search-box input:focus{
    border-color: var(--color-primario);
}

#loader,#error-message{
    text-align: center;
    margin-top: 20px 0;
}
#results{
    display: grid;
    grid-template-columns:repeatt(auto-fit,minmax(300px,1fr));
    gap:25px;
}

footer{
    text-align:center;
    padding:20px;
    color:var(--color-texto-secundario);
}